@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

/*Linea necesaria para activar el uso del dark mode, y que el cambio con switch sea posible, si no se pone esta linea la pagina tomara por defecto el tema que el usuario tenga en su navagador o equipo de computo*/
@custom-variant dark (&:where(.dark, .dark *));

.nav-link {
   @apply dark:text-white text-xl flex align-middle;
}

.nav-link-active {
   @apply text-purple-700 dark:text-purple-400 underline;
}
